﻿@nav-focus: #fff;
@nav-focus-background: #428bca;

@panel-background: #f5f5f5;
@panel-border: #eee;

@header-border: #eee;

/*
    Table colors
*/
@table-row-odd-background: #adadad;
@table-row-even-background: #d9d9d9;
@table-row-hover-background: #262585;
@table-row-hover-text: #ffffff;
@table-row-selected-background: #050c58;
@table-row-selected-text: #ffffff;