﻿.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: @table-row-odd-background;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: @table-row-even-background;
}

.table-hover > tbody > tr:hover {
    background-color: @table-row-hover-background;
    color: @table-row-hover-text;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: @table-row-selected-background;
    color: @table-row-selected-text;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: @table-row-hover-background;
    color: @table-row-hover-text;
}
