﻿@nav-focus: #fff;
@nav-focus-background: #ca42c3;

@panel-background: #f5f5f5;
@panel-border: #eee;

@header-border: #eee;

/*
    Table colors
*/
@table-row-odd-background: #db8498;
@table-row-even-background: #febfbf;
@table-row-hover-background: #a30b0b;
@table-row-hover-text: #ffffff;
@table-row-selected-background: #700505;
@table-row-selected-text: #ffffff;